﻿@{
    ViewBag.Title = "Work_Studies";
}
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="sectionHeader">
                <label>Academic Information</label>
            </div>
            <div class="row form-section">
                <p>Indicate your proficiency in the following langagues: </p>
                <div class="col-md-5 languages">
                    <div class="col-md-6 english-col">
                        <div class="english-col-label">
                            <label>English</label>
                        </div>

                        <div class="english col-xs-12">
                            <label class="col-xs-6">Speak</label>
                            <div class="col-xs-6">
                                <select id="EnglishProficiencySpeaking" data-bind="text:englishProficiencySpeaking" class="form-control "></select>
                            </div>
                        </div>
                        <div class="english col-xs-12">
                            <label class="col-xs-6">Write</label>
                            <div class="col-xs-6">
                                <select id="EnglishProficiencyWriting" data-bind="text:englishProficiencyWriting" class="form-control"></select>
                            </div>
                        </div>
                        <div class="english col-xs-12">
                            <label class="col-xs-6">Read</label>
                            <div class="col-xs-6">
                                <select id="EnglishProficiencyReading" data-bind="text:englishProficiencyReading" class="form-control"></select>
                            </div>
                        </div>
                        <div class="english col-xs-12">
                            <label class="col-xs-6">Understand</label>
                            <div class="col-xs-6">
                                <select id="EnglishProficiencyUnderstanding" data-bind="text:englishProficiencyUnderstanding" class="form-control"></select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 afrikaans-col">
                        <div class="afrikaans-col-label">
                            <label>Afrikaans</label>
                        </div>

                        <div class="afrikaans col-xs-12">
                            <label class="col-xs-6">Praat</label>
                            <div class="col-xs-6">
                                <select id="AfrikaansProficiencyPraat" data-bind="text:afrikaansProficiencyPraat" class="form-control "></select>
                            </div>
                        </div>
                        <div class="afrikaans col-xs-12">
                            <label class="col-xs-6">Skryf</label>
                            <div class="col-xs-6">
                                <select id="AfrikaansProficiencySkryf" data-bind="text:afrikaansProficiencySkryf" class="form-control"></select>
                            </div>
                        </div>
                        <div class="afrikaans col-xs-12">
                            <label class="col-xs-6">Lees</label>
                            <div class="col-xs-6">
                                <select id="AfrikaansProficiencyLees" data-bind="text:afrikaansProficiencyLees" class="form-control"></select>
                            </div>
                        </div>
                        <div class="afrikaans col-xs-12">
                            <label class="col-xs-6">Verstaan</label>
                            <div class="col-xs-6">
                                <select id="AfrikaansProficiencyVerstaan" data-bind="text:afrikaansProficiencyVerstaan" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                </div>

            </div>
            <div class="row form-section">
                <div class="col-md-7 academic-details">
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Indicate your highest level of mathematics completed:</label>
                        </div>
                        <div class="col-xs-6">
                            <select data-bind="text:mathematicsCompetency" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Symbol or percentage achieved in mathematics:</label>
                        </div>
                        <div class="col-xs-2">
                            <input data-bind="text:mathematicsPercentage" class="form-control" />
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Main involvement during the year preceding your propposed studies at USB:</label>
                        </div>
                        <div class="col-xs-6">
                            <select data-bind="text:priorInvolvement" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>

            <div class="row form-section">
                <div class="col-md-12 registration">
                    <p>Provide information regarding tertiary registraion:</p>
                    <div id="TertiaryEducationHistoryContainer" class="row" data-bind="foreach:tertiaryEducationHistory">
                        <div class="col-md-2">
                            <label>Institution</label>
                            <select class="form-control" data-bind="institution">
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label>Degree or other Qualifications</label>
                            <input class="form-control" data-bind="degree" />
                        </div>
                        <div class="col-md-2">
                            <label>Field of Study</label>
                            <select class="form-control" data-bind="employer">
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Student Number</label>
                                <input class="form-control" data-bind="studentNumber" />
                            </div>
                            <div class="col-md-2">
                                <label>Period</label>
                                <div class="row">
                                    <div class="period-from col-md-6">
                                        <input class="form-control" data-bind="periodStart" />
                                    </div>
                                    <p>to</p>
                                    <div class="period-to col-md-6">
                                        <input class="form-control" data-bind="periodEnd" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 check-boxes">
                                <label>Completed</label>
                                <div class="checkbox">
                                    <input type="checkbox" data-bind="completed" />
                                </div>
                            </div>
                            <div class="col-md-1 radio-btns">
                                <label>First</label>
                                <div class="radio">
                                    <input id="first" type="radio" data-bind="first" />
                                </div>
                            </div>
                            <div class="pull-right"><a id="removeTertiaryEducationHistory" style="color:red;" class="removeRow glyphicon glyphicon-remove " href="javascript:void(0)"></a></div>
                        </div>
                        
                    </div>
                    <label for="btnAddTertiaryEducation"></label>
                    <a id="btnAddTertiaryEducation" data-bind="click: $root.addTertiaryEducationHistory" href="javascript:void(0)">Add Tertiary Education History</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class=" employment-info">
                <div class="sectionHeader">
                    <label>Employment Information</label>
                </div>
                <div class="row form-section">
                    <div id="EmploymentInformation" class="col-md-12 registration" data-bind="foreach:employmentHistory">
                        <p>Employment over past 10 years (Start with curret year)</p>
                        <div class="row">
                            <div class="col-md-2 ">
                                <label>Employer</label>
                                <input class="form-control" data-bind="employer" />
                            </div>

                            <div class="col-md-2">
                                <label>Job Title</label>
                                <input class="form-control" data-bind="jobTitle" />
                            </div>
                            <div class="col-md-2">
                                <label>Work Area</label>
                                <select class="form-control" data-bind="workArea">
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Organization</label>
                                    <select class="form-control" data-bind="organization">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Industry</label>
                                    <select class="form-control" data-bind="industry">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Period</label>
                                    <div class="row">
                                        <div class="period-from col-md-6">
                                            <input class="form-control" data-bind="periodStart" />
                                        </div>
                                        <div class="period-to col-md-6">
                                            <input class="form-control" data-bind="periodEnd" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 check-boxes">
                                    <label>Type</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                                <div class="col-md-1 radio-btns">
                                    <label>Latest</label>
                                    <div class="radio">
                                        <input type="radio" />
                                    </div>

                                </div>
                            </div>
                            <a id="removeEmploymentInformation" class="pull-right glyphicon glyphicon-remove" style="color:red" href="javascript:void(0)"></a>
                        </div>                                               
                    </div>
                     <a id="btnAddEmploymentHistory" data-bind="click: $root.addEmploymentHistory" href="javascript:void(0)">Add Employment History</a>

                </div>
                <div class="row form-section">
                    <div class="col-md-10">
                        <div class="row maths-level">
                            <div class="col-xs-4">
                                <label>Total years of full-time work experience: </label>
                            </div>

                            <div class="col-xs-2">
                                <span class="required">*</span>
                                <input type="number" class="form-control form-control-overide"
                                       data-bind="value: $root.YearsOfWorkingExperience, disable: $root.isDisabled()" />
                            </div>
                            <span class="infoNote">Please enter a whole number between 0 and 99</span>
                        </div>


                        <div class="row maths-level">
                            <div class="col-xs-4">
                                <label>Indicate your current gross salary: </label>
                            </div>
                            <div class="col-xs-2">
                                <span class="required">*</span>
                                <select class="form-control form-control-overide"
                                        data-bind="options: $root.grossSalaryList, optionsText:'Key', optionsValue:'Value',
                                                   value: $root.AnnualGrossSalary, valueAllowUnset: true,
                                                   optionsCaption: 'Choose...', disable: $root.isDisabled()"></select>
                            </div>
                            <span class="infoNote">This information is compulsory for ranking and survey purposes.</span>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="">
                <div class="sectionHeader">
                    <label>Financial Assistance </label>
                </div>
                <div class="row  maths-level form-section">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-xs-6 ">
                                <label>Will your employer be assisting you financially?: </label>
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="row  maths-level">
                            <div class="col-xs-6 ">
                                <label>Contact person name: </label>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="row  maths-level">
                            <div class="col-xs-6 ">
                                <label>Contact person telephone: </label>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="row  maths-level">
                            <div class="col-xs-6 ">
                                <label>Contact person email address: </label>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="sectionHeader">
                <label>Referees</label>
            </div>
            <div class="row  maths-level form-section">
                <p>Supply the names of two referees who can be approached directly by the business school to provide information reagrding your business experience</p>

                <div class="col-md-2">
                    <div class="row  maths-level references">

                        <div class="col-xs-12">
                            <label>Reference 1:</label>
                        </div>
                    </div>
                    <div class="row  maths-level references">
                        <div class="col-xs-12">
                            <label>Reference 2:</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row  maths-level">

                        <div class="col-xs-12">
                            <label>Name</label>
                            <input class="form-control" data-bind="text:" />
                        </div>
                    </div>
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <input class="form-control" data-bind="text:" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <label>Position</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <input class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <label>Telephone</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row  maths-level ">
                        <div class="col-xs-12">
                            <input class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <label>Cell / Mobile</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <input class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <label>Email</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row  maths-level">
                        <div class="col-xs-12">
                            <input class="form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <div class="section-wrap">
            <button class="btn pull-right save-btn">Save and Proceed</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/app/ViewModels/WorkStudiesVM.js"></script>
}
