﻿@{
    ViewBag.Title = "PhDDevFin";
}

<div id="welcome-wrap" class="centerDivTable">
    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Welcome</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            Welcome to the University of Stellenbosch Business School's Application Form.
                        </p>
                        <p>
                            You were redirected to this page to start a new application, or load your existing application.
                        </p>
                        <p>
                            Please familiarise yourself with the content below and confirm understanding before continuing with your application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Completing the online application</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            All applicants are required to complete the USB Online Application Form for the programme they wish to enrol for. The information contained in your application form will be used by the University to decide whether or not to invite you to the selection stage. Incomplete applications will delay consideration. Please plan your application process to meet the application deadline (see <a href="http://www.usb.ac.za">www.usb.ac.za</a>).
                        </p>
                        <p>
                            Admission requirements PhD in Development Finance:
                            <ul>
                                <li>A relevant master's degree in Development Finance, Economics, Finance or allied field</li>
                                <li>A strong quantitative background.</li>
                            </ul>
                        </p>
                        <p>
                            The information you provide on your application form will be treated as confidential and will not be disclosed without your permission. You must ensure that the information you have given is correct. If the information is incorrect, Stellenbosch University reserves the right to reject your application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Supporting documents</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            In addition to completing the application form, you are required to upload supporting documents. Please ensure that you have the following documents ready before starting your application:
                            <ul>
                                <li>Signed Declaration Form</li>
                                <li>Certified copies of academic records</li>
                                <li>Certified copies of degree certificates</li>
                                <li>Copy of ID/Passport</li>
                                <li>Copy of CV</li>
                                <li>Marriage certificate (required if surname differs from that on academic transcripts or certificates)</li>
                                <li>Motivational essays</li>
                                <li>Application fee</li>
                            </ul>
                        </p>
                        <p>
                            <label><b>Please note:</b></label><br/>
                            Give the required documents meaningful names relating to its content.
                        </p>
                        <p>
                            Only submit your electronic application once <b>ALL</b> the documents have been uploaded.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Submitting your application</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            A completed application implies that all the fields on every page are filled in (each section indicating a <a href="" class="glyphicon glyphicon-ok"></a> tick) and that all required documents have been uploaded before it can be submitted.
                        </p>
                        <p>
                        <p style="color: red;">
                            <b>I hereby declare that I have read and that I understand the application requirements above.</b><input type="checkbox" style="margin-left: 5px;" data-bind="checked: $root.requirementsUnderstood" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper row" data-bind="visible: $root.requirementsUnderstood">
        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: $root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed</div>
            </div>
            <div class="sectionBody">
                <p>An E-mail has been send to the address that you have supplied containing the unique link which you must use to gain access to your active application.</p>
                <p></p>
                <p>For further assistance contact the USB Applications Office at +27 (0) 21 918 4239</p>
            </div>

        </div>

        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: !$root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed with application</div>
            </div>
            <div class="sectionBody ">
                <p>
                    Please fill in your e-mail address and click "Continue". If you've started an application on a previous occasion, you will be prompted, otherwise a new application will start.
                </p>
                <div id="emailAddrArea" class="row">
                    <div class="col-md-12  col-md-offset-1  col-centered">
                        <div class="col-md-3 email-label">
                            <label>Email Address:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <input data-bind="value: $root.emailAddress, enterKey: $root.Continue" type="email" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button data-bind="click: $root.Continue" id="ContinueButton" class="btn bt-lg">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionBody" data-bind="visible: $root.IsApplicant()">
                <p>We have determined that an active application is linked to your e-mail address. If you would like us to send you an e-mail with the unique link to continue your application click on the link below</p>
                <input type="button" value="Send Link to my E-mail address" data-bind="click: sendEMail" />
                <p></p>
                <p>Alternatively, for further assistance contact the USB Applications Office at +27 (0) 21 918 4239</p>
            </div>

        </div>
    </div>
</div>

<div id="divError">
</div>

@section Scripts{
    <script src="~/Scripts/PhDDevFinApp/application.js"></script>
    <script src="~/Scripts/PhDDevFinApp/ViewModels/Index.js"></script>
}

<div style="display: none">
    <p id="pSarGuid"></p>
    <input name="ctl00$MainContent$textboxProgramme" id="textboxProgramme" size="50" type="text">
</div>





