﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Payment";
}

@{ string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView); }

@section Scripts{
    <script src="~/Scripts/MBAapp/ViewModels/PaymentDetailsVM.js"></script>
    
    <script>
        $(function () {
            var model = new PaymentDetails(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>

}

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="row container">
    <div class="col-md-12 form-wrap">

        <p>You can pay your <b>application fee</b> by bank transfer</p>
         
        <form class="form-horizontal payment">
            <div class="sectionHeader">
                    <label>Academic Information</label>
                </div>
            <div class="section-wrap">
               
                <div class="row payment-details">
                    <div id="heading-col" class="col-sm-2 col-xs-6">
                        <ul>
                            <li>Bank</li>
                            <li>Type of Account</li>
                            <li>Account Number</li>
                            <li>Branch Code</li>
                            <li>Branch Name</li>
                            <li>Beneficiary Name</li>
                            <li>Cheques made out to</li>
                            <li>SWIFT Code</li>
                        </ul>
                    </div>
                    <div id="details-col" class="col-xs-2 col-xs-6">
                        <ul>
                            <li>Standard Bank</li>
                            <li>Cheque Account</li>
                            <li>073003069</li>
                            <li>050610</li>
                            <li>Stellenbosch</li>
                            <li>Stellenbosch University</li>
                            <li>Stellenbosch University</li>
                            <li>SBZAZAJJ</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>Please send proof of payment to <a href="MAILTO:payments@usb.ac.za">payments@usb.ac.za</a>, using your student number as reference. </p>
                </div>
            </div>
        </form>
        <div class="section-wrap" data-bind="visible: !$root.isDisabled()">
            <button id="paymentSaveAndProceed" data-bind="click: $root.StepSevenProceed" class="btn btnSaveProceed pull-right save-btn">Proceed</button>
        </div>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
