﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Documentation";
    ViewBag.RootUrl = "";
}

@{
    string isGmatSelectionEnabled = new JavaScriptSerializer().Serialize(ViewBag.IsGmatSelectionEnabled);
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
    string isDeleteEnabled = new JavaScriptSerializer().Serialize(ViewBag.IsDeleteEnabled);
    string isReviewEnabled = new JavaScriptSerializer().Serialize(ViewBag.ReviewEnabled);
    string isAdmittedApplicant = new JavaScriptSerializer().Serialize(ViewBag.IsAdmittedApplicant);
    string context = new JavaScriptSerializer().Serialize(ViewBag.Context);
    string isInsideCRM = new JavaScriptSerializer().Serialize(ViewBag.IsInsideCRM);
    string isSHLTestRequired = new JavaScriptSerializer().Serialize(ViewBag.IsSHLTestRequired);
}

@section Scripts{
<script src="~/Scripts/MBAapp/application.js"></script>
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/BlueImp/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/BlueImp/jquery.fileupload.js"></script>
    <script src="~/Scripts/MBAapp/ViewModels/DocumentationVM.js"></script>

    <script>
        $(function() {

            var model = new Documentation(@Html.Raw(isGmatSelectionEnabled),
                @Html.Raw(isDisabled),
                @Html.Raw(isDeleteEnabled),
                @Html.Raw(isReviewEnabled),
                @Html.Raw(isAdmittedApplicant),
                @Html.Raw(context),
                @Html.Raw(isInsideCRM),
                @Html.Raw(isSHLTestRequired));
            ko.applyBindings(model);
        });
    </script>
}


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>


<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Documentation Instructions</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p>In the next section you will be presented with a list of documents that must be uploaded before your application can be considered complete. Please make sure that the quality of your scanned original receivedDocuments is legible and of good quality.</p>
                        <p>Every item in the list will indicate whether the upload was successful and when it was uploaded. Please make sure you upload the correct document that matches the document type required.</p>

                        <p>Please upload all documents in <b>PDF Format (i.e. *.pdf)</b></p>

                        @*<ul>
                            <li>Microsoft Office Formats (e.g. *.doc, *.docx)</li>
                            <li>PDF Format (i.e. *.pdf)</li>
                            <li>Image Formats (i.e. *.jpg, *.tiff, *.png)</li>
                        </ul>*@
                        <p class="file-size-text">* Maximum file size allowed per file = 2MB   </p>
                        <label>Please note:</label>
                        <ul>
                            <li>Please upload the correct documents at the correct places</li>
                            <li>Give the required documents meaningful names relating to it’s content.</li>
                            <li>Only submit your electronic application once ALL the documents have been uploaded</li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Declaration Form</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p><b>Please click <u><a href="/Contact/DownloadDeclarationFile" style="font-size: 14px;">here</a></u> to download the declaration form. This form must be signed, scanned and uploaded using the "Signed Declaration Form" section below in the Documentation Upload Area.</b></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row container" data-bind="visible: $root.canSelectSHLOrGMAT()">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>SHL and GMAT information</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10">
                        <p>
                            <b>SELECTION TESTS</b>
                            <br />
                            <br />
                            USB accepts the SHL or GMAT selection test. Both tests are recognised internationally. Make an appointment with USB to do the SHL selection test, or contact GMAT at <a href="http://www.gmat.com" target="_blank">www.gmat.com</a>.
                        </p>
                        
                        <p>
                            <b>SHL</b>
                            <br />
                            <br />
                            The SHL consists of a verbal critical reasoning assessment, a numerical critical reasoning assessment, an inductive reasoning test and an occupational personality questionnaire (OPQ) which specifically focuses on behavioural preferences. The test takes about three hours to complete and no preparation is required beforehand.
                        </p>
                        <p>
                            <b>GMAT</b>
                            <br />
                            <br />
                            The GMAT consists of three timed sections, namely an analytical writing assessment, a quantitative assessment and a verbal assessment. A copy of the results will automatically be forwarded to USB. The test takes about four hours. This test is not administered by USB.
                            For more information with regards to the SHL or GMAT selection test, follow this <a target="_blank" href="http://www.usb.ac.za/MBA/Pages/SHL-or-GMAT.aspx">link</a>.
                        </p>
                        <div class="radio">
                            <label><input type="radio" name="optradio" data-bind="value: true, checked: $root.isSHLTestRequired">I choose to write the SHL test</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" data-bind="value: false, checked: $root.isSHLTestRequired">I choose to upload my GMAT score</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row container" data-bind="visible: $root.canDisplayDocuments()">
    <div class="col-md-12 form-wrap">

        <div id='LoadingDiv' style='padding: 5px; display:inline;float:left; text-align:center; margin-top:300px;width:100%;height:100%;'><img src="~/Images/ajax-loader-big.gif"></div>
        <iframe id="documentFrame" style="margin: auto; height: 1500px;width: 1240px!important; border: none" src=""></iframe>
        
        <script>
            $("#LoadingDiv").show();
            $('iframe').load(function () {
                $(".loading").remove();
                $("#LoadingDiv").hide();
            }).show();
        </script>

    </div>
</div>
