﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://protect-za.mimecast.com/s/T-z0CxGjQ4UZRRQmI8-QnX?domain=googletagmanager.com' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5SXKN3Q');
    </script>
    <!-- End Google Tag Manager --> 
    <script src="~/Scripts/app/application.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body',
                placement: 'bottom',
                trigger: 'hover'
            });

            var app = new Application().load();
        });
    </script>

    @RenderSection("scripts", required: false)
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @{
        var studentDetails = "";

        if (Session["StudentDetails"] != null)
        {
            studentDetails = Session["StudentDetails"].ToString();
        }
    }

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://protect-za.mimecast.com/s/5MumCy8kRgtY22y6cM36is?domain=googletagmanager.com"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) --> 
    <header>
        <div class="container">
            <div class="col-md-6">
                <img src="~/Images/usblogolong.png" class="pull-left" />
            </div>
            <div class="col-md-6">
               <h3 class="pull-right">PGDip Financial Planning</h3>
                <div class="clearfix">&nbsp;</div>
                <span class="pull-right pageCounter"><label id="currentPage">&nbsp;</label></span>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-md-6">
                <p>
                    <h5>@studentDetails</h5>
                </p>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div  id="tabs">
                <!-- Nav tabs -->
                <div class="visible-lg visible-md visible-sm">
                    <ul id="navMenu" class="nav nav-tabs" role="tablist">
                        <li id="tab1" title="Personal Information" data-toggle="popover" data-content="Personal Information incomplete" role="presentation"><div id="navPersonalDetails" class="glyphicon glyphicon-remove" style="float: right; z-index: 1000; margin-right: 4px;"></div><a class="tabControl navPersonalDetails" href="javascript:void(0)" aria-controls="home" role="tab" data-toggle="tab">&nbsp;&nbsp;Personal Information</a></li>
                        <li id="tab2" title="Address Details" data-container="body" data-toggle="popover" data-placement="top" data-content="Address Details incomplete" role="presentation"><div id="navAddressDetails" class="glyphicon glyphicon-remove" style="float: right; z-index: 1000; margin-right: 4px;"></div><a class="tabControl navAddressDetails" href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab">&nbsp;&nbsp;Address Details</a></li>
                        <li id="tab3" title="Work & Studies" data-container="body" data-toggle="popover" data-placement="top" data-content="Work & Studies incomplete" role="presentation"><div id="navWorkAndStudyDetails" class="glyphicon glyphicon-remove" style="float: right; z-index: 1000; margin-right: 4px;"></div><a class="tabControl navWorkAndStudyDetails" href="javascript:void(0)" aria-controls="messages" role="tab" data-toggle="tab">&nbsp;&nbsp;Work & Studies</a></li>
                        <li id="tab4" title="Marketing Details" data-container="body" data-toggle="popover" data-placement="top" data-content="Marketing Details incomplete" role="presentation"><div id="navMarketingDetails" class="glyphicon glyphicon-remove" style="float: right; z-index: 1000; margin-right: 4px;"></div><a class="tabControl navMarketingDetails" href="javascript:void(0)" aria-controls="settings" role="tab" data-toggle="tab">&nbsp;&nbsp;Marketing</a></li>
                        <li id="tab5" title="Document Details" data-container="body" data-toggle="popover" data-placement="top" data-content="Documentation incomplete" role="presentation"><div id="navDocumentationDetails" class="glyphicon glyphicon-remove" style="float: right; z-index: 1000; margin-right: 4px;"></div><a class="tabControl navDocumentationDetails" href="javascript:void(0)" aria-controls="settings" role="tab" data-toggle="tab">&nbsp;&nbsp;Documentation</a></li>
                        <li id="tab6" title="Payment Details" data-container="body" data-toggle="popover" data-placement="top" data-content="Payment Details incomplete" role="presentation"><div id="navPaymentDetails" class="glyphicon glyphicon-remove" style="float: right; z-index: 1000; margin-right: 4px;"></div><a class="tabControl navPaymentDetails" href="javascript:void(0)" aria-controls="settings" role="tab" data-toggle="tab">&nbsp;&nbsp;Payment</a></li>
                        <li id="tab7" role="presentation"><a class="tabControl navStatusDetails" href="javascript:void(0)" aria-controls="settings" role="tab" data-toggle="tab">&nbsp;&nbsp;Submit</a></li>
                    </ul>
                </div>
                <!-- Nav tabs -->
                <div class="visible-xs">
                    <nav class="navbar navbar-inverse navbar">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav nav-stacked" style="background-color:#E2E3E7">
                                    <li role="presentation"><a class="tabControl navPersonalDetails" href="javascript:void(0)" aria-controls="home" role="tab" data-toggle="tab"><span class="badge">1</span>&nbsp;&nbsp;Personal Information</a></li>
                                    <li role="presentation"><a class="tabControl navAddressDetails" href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab"><span class="badge">2</span>&nbsp;&nbsp;Address Details</a></li>
                                    <li role="presentation"><a class="tabControl navWorkAndStudyDetails" href="javascript:void(0)" aria-controls="messages" role="tab" data-toggle="tab"><span class="badge">3</span>&nbsp;&nbsp;Work & Studies</a></li>
                                    <li role="presentation"><a class="tabControl navMarketingDetails" href="javascript:void(0)" aria-controls="settings" role="tab" data-toggle="tab"><span class="badge">4</span>&nbsp;&nbsp;Marketing</a></li>
                                    <li role="presentation"><a class="tabControl navDocumentationDetails" href="javascript:void(0)" aria-controls="settings" role="tab" data-toggle="tab"><span class="badge">5</span>&nbsp;&nbsp;Documentation</a></li>
                                    <li role="presentation"><a class="tabControl navPaymentDetails" href="javascript:void(0)" id="tabPaymentDetails" aria-controls="settings" role="tab" data-toggle="tab"><span class="badge">6</span>&nbsp;&nbsp;Payment</a></li>
                                    <li role="presentation"><a class="tabControl navStatusDetails" href="javascript:void(0)" id="tabStatusDetails" aria-controls="settings" role="tab" data-toggle="tab"><span class="badge">7</span>&nbsp;&nbsp;Status</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
        </div>
            </div>
    </header>
    <div id="page" class="container">
        @* used for ajax in AddAntiForgeryToken() *@
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {
            @Html.AntiForgeryToken()
        }
        
        @RenderBody()
        
        <p class="" style="font-style: italic; color: #ba3636; width: 500px; margin: 0 auto 20px auto">
            This site is best viewed using Chrome, Firefox, Safari or Internet Explorer 9 or higher.
        </p>
    </div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-73891431-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>
