﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Marketing";
}

@{
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
}

@section Scripts{
    <script src="~/Scripts/app/ViewModels/MarketingVM.js"></script>
    <script>
        $(function () {
            var model = new Marketing(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">

        <div class="row">
            <div class="sectionHeader col-md-12">Marketing Information</div>
        </div>
        <div class="sectionBody">
            <div class="row">
                <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px">
                    <label>
                        Where did you hear about the USB? (mark as many as you like)
                    </label>

                    <div class="form-section wordwrapNone marginCenter ">
                        <div class="row">
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Advertisement</p>
                                <input class="col-md-1" id="checkboxAdvertisement" data-bind="checked: $root.checkboxAdvertisement, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">News article</p>
                                <input class="col-md-1" id="checkboxNewsArticle" data-bind="checked: $root.checkboxNewsArticle, disable: $root.isDisabled()" type="checkbox">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">USB promotional emails</p>
                                <input class="col-md-1" id="checkboxUsbPromotionalEmails" data-bind="checked: $root.checkboxUsbPromotionalEmails, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Conference or expo</p>
                                <input class="col-md-1" id="checkboxConferenceOrExpo" data-bind="checked: $root.checkboxConferenceOrExpo, disable: $root.isDisabled()" type="checkbox">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by my employer</p>
                                <input class="col-md-1" id="checkboxReferralByMyEmployer" data-bind="checked: $root.checkboxReferralByMyEmployer, disable: $root.isDisabled()" type="checkbox">
                            </div>

                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Stellenbosch University</p>
                                <input class="col-md-1" id="checkboxStellenboschUniversity" data-bind="checked: $root.checkboxStellenboschUniversity, disable: $root.isDisabled()" type="checkbox">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by an alumnus</p>
                                <input class="col-md-1" id="checkboxReferralByAnAlumnus" data-bind="checked: $root.checkboxReferralByAnAlumnus, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">USB website</p>
                                <input class="col-md-1" id="checkboxUsbWebsite" data-bind="checked: $root.checkboxUsbWebsite, disable: $root.isDisabled()" type="checkbox">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by a current student</p>
                                <input class="col-md-1" id="checkboxReferralByACurrentStudent" data-bind="checked: $root.checkboxReferralByACurrentStudent, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">USB-ED</p>
                                <input class="col-md-1" id="checkboxUsbEd" data-bind="checked: $root.checkboxUsbEd, disable: $root.isDisabled()" type="checkbox">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by a family member or friend</p>
                                <input class="col-md-1" id="checkboxReferralByAFamilyMemberOrFriend" data-bind="checked: $root.checkboxReferralByAFamilyMember, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Brochure</p>
                                <input class="col-md-1" id="checkboxBrochure" data-bind="checked: $root.checkboxBrochure, disable: $root.isDisabled()" type="checkbox" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 borderbody borderbottom">
                                <p class="col-md-8 width50per">Social media</p>
                                <input class="col-md-1" id="checkboxSocialMedia" data-bind="checked: $root.checkboxSocialMedia, disable: $root.isDisabled()" type="checkbox">
                            </div>

                            <div class="col-md-4 borderbody borderbottom">
                                <p class="col-md-8">On-campus event (Leader's angle, etc.)</p>
                                <input class="col-md-1" id="checkboxOnCampusEvent" data-bind="checked: $root.checkboxOnCampusEvent, disable: $root.isDisabled()" type="checkbox" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-section col-md-12">
                    <div>
                        <label>Have you attended a USB information session?</label>
                    </div>
                    <div>
                        <input type="radio" name="InfoSession" data-bind="checked: $root.infoSessionAttended, value: true, disable: $root.isDisabled()" />
                        <label class="marginRight20">Yes</label>

                        <input type="radio" name="InfoSession" data-bind="checked: $root.infoSessionAttended, value: false, disable: $root.isDisabled()" />
                        <label>No</label>
                    </div>
                </div>

                <div id="infoSessionAttended" class="form-section col-md-12" data-bind="visible: $root.infoSessionAttended, disable: $root.isDisabled()">
                    <div>
                        <label>Which information session have you attended?</label>
                    </div>
                    <select data-bind="options: $root.infoSessions, optionsText: 'Key',
                                       optionsValue: 'Value', value: $root.infoSessionOptionSet,
                                       valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>

                <div class="form-section col-md-12">
                    <div><label>Did you use a web search engine when you looked for a Business School?</label></div>
                    <div>
                        <input name="SearchEngine" id="SearchEngineTrue" type="radio" data-bind="checked: $root.radWebSearch, value: true, disable: $root.isDisabled()" />
                        <label class="marginRight20" for="SearchEngineTrue">Yes &nbsp</label>

                        <input name="SearchEngine" id="SearchEngineFalse" type="radio" data-bind="checked: $root.radWebSearch, value: false, disable: $root.isDisabled()" />
                        <label for="SearchEngineFalse">No &nbsp</label>
                    </div>
                </div>


                <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px">
                    <label>How important were the following when you decided to further your studies?</label>
                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <label class="col-md-2 centerAlignText"></label>
                            <label class="col-md-2 centerAlignText">Totally unimportant</label>
                            <label class="col-md-2 centerAlignText">Of little importance</label>
                            <label class="col-md-2 centerAlignText">Not important or unimportant (neutral)</label>
                            <label class="col-md-2 centerAlignText">Important</label>
                            <label class="col-md-2 centerAlignText">Very important</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to change careers</p>
                            <input name="changeCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerChange, value: 100004, disable: $root.isDisabled()" />
                            <input name="changeCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerChange, value: 100003, disable: $root.isDisabled()" />
                            <input name="changeCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerChange, value: 100002, disable: $root.isDisabled()" />
                            <input name="changeCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerChange, value: 100001, disable: $root.isDisabled()" />
                            <input name="changeCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerChange, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to progress in my career</p>
                            <input name="progressCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerProgress, value: 100004, disable: $root.isDisabled()" />
                            <input name="progressCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerProgress, value: 100003, disable: $root.isDisabled()" />
                            <input name="progressCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerProgress, value: 100002, disable: $root.isDisabled()" />
                            <input name="progressCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerProgress, value: 100001, disable: $root.isDisabled()" />
                            <input name="progressCareers" class="col-md-2" type="radio" data-bind="checked: $root.radCareerProgress, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to acquire management skills</p>
                            <input name="manSkills" class="col-md-2" type="radio" data-bind="checked: $root.radManageSkills, value: 100004, disable: $root.isDisabled()" />
                            <input name="manSkills" class="col-md-2" type="radio" data-bind="checked: $root.radManageSkills, value: 100003, disable: $root.isDisabled()" />
                            <input name="manSkills" class="col-md-2" type="radio" data-bind="checked: $root.radManageSkills, value: 100002, disable: $root.isDisabled()" />
                            <input name="manSkills" class="col-md-2" type="radio" data-bind="checked: $root.radManageSkills, value: 100001, disable: $root.isDisabled()" />
                            <input name="manSkills" class="col-md-2" type="radio" data-bind="checked: $root.radManageSkills, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to develop as a leader</p>
                            <input name="developLeader" class="col-md-2" type="radio" data-bind="checked: $root.radDevelopLeader, value: 100004, disable: $root.isDisabled()" />
                            <input name="developLeader" class="col-md-2" type="radio" data-bind="checked: $root.radDevelopLeader, value: 100003, disable: $root.isDisabled()" />
                            <input name="developLeader" class="col-md-2" type="radio" data-bind="checked: $root.radDevelopLeader, value: 100002, disable: $root.isDisabled()" />
                            <input name="developLeader" class="col-md-2" type="radio" data-bind="checked: $root.radDevelopLeader, value: 100001, disable: $root.isDisabled()" />
                            <input name="developLeader" class="col-md-2" type="radio" data-bind="checked: $root.radDevelopLeader, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to acquire business knowledge</p>
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radBusinessKnowledge, value: 100004, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radBusinessKnowledge, value: 100003, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radBusinessKnowledge, value: 100002, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radBusinessKnowledge, value: 100001, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radBusinessKnowledge, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to acquire critical thinking skills</p>
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radCriticalThinking, value: 100004, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radCriticalThinking, value: 100003, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radCriticalThinking, value: 100002, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radCriticalThinking, value: 100001, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radCriticalThinking, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to become a responsible and ethical leader</p>
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radEthicalLeader, value: 100004, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radEthicalLeader, value: 100003, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radEthicalLeader, value: 100002, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radEthicalLeader, value: 100001, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radEthicalLeader, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">I want to earn a high salary when I graduate</p>
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radSalary, value: 100004, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radSalary, value: 100003, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radSalary, value: 100002, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radSalary, value: 100001, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radSalary, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody borderbottom">
                            <p class="col-md-2">I want to gain knowledge of business strategy</p>
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radKnowBusinessStrategy, value: 100004, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radKnowBusinessStrategy, value: 100003, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radKnowBusinessStrategy, value: 100002, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radKnowBusinessStrategy, value: 100001, disable: $root.isDisabled()" />
                            <input class="col-md-2" type="radio" data-bind="checked: $root.radKnowBusinessStrategy, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px">
                    <label>How important are the following to you?</label>
                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <label class="col-md-2 centerAlignText"></label>
                            <label class="col-md-2 centerAlignText">Totally unimportant</label>
                            <label class="col-md-2 centerAlignText">Of little importance</label>
                            <label class="col-md-2 centerAlignText">Not important or unimportant (neutral)</label>
                            <label class="col-md-2 centerAlignText">Important</label>
                            <label class="col-md-2 centerAlignText">Very important</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Lecturer quality</p>
                            <input name="lecturerQuality" class="col-md-2" type="radio" data-bind="checked: $root.radLecturerQuality, value: 100004, disable: $root.isDisabled()" />
                            <input name="lecturerQuality" class="col-md-2" type="radio" data-bind="checked: $root.radLecturerQuality, value: 100003, disable: $root.isDisabled()" />
                            <input name="lecturerQuality" class="col-md-2" type="radio" data-bind="checked: $root.radLecturerQuality, value: 100002, disable: $root.isDisabled()" />
                            <input name="lecturerQuality" class="col-md-2" type="radio" data-bind="checked: $root.radLecturerQuality, value: 100001, disable: $root.isDisabled()" />
                            <input name="lecturerQuality" class="col-md-2" type="radio" data-bind="checked: $root.radLecturerQuality, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Electronic study material</p>
                            <input name="electronicStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radElectronicMaterial, value: 100004, disable: $root.isDisabled()" />
                            <input name="electronicStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radElectronicMaterial, value: 100003, disable: $root.isDisabled()" />
                            <input name="electronicStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radElectronicMaterial, value: 100002, disable: $root.isDisabled()" />
                            <input name="electronicStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radElectronicMaterial, value: 100001, disable: $root.isDisabled()" />
                            <input name="electronicStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radElectronicMaterial, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Printed study material</p>
                            <input name="printedStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radPrintedStudyMaterial, value: 100004, disable: $root.isDisabled()" />
                            <input name="printedStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radPrintedStudyMaterial, value: 100003, disable: $root.isDisabled()" />
                            <input name="printedStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radPrintedStudyMaterial, value: 100002, disable: $root.isDisabled()" />
                            <input name="printedStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radPrintedStudyMaterial, value: 100001, disable: $root.isDisabled()" />
                            <input name="printedStudyMaterial" class="col-md-2" type="radio" data-bind="checked: $root.radPrintedStudyMaterial, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Research supervision </p>
                            <input name="researchSupervision" class="col-md-2" type="radio" data-bind="checked: $root.radResearchSupervision, value: 100004, disable: $root.isDisabled()" />
                            <input name="researchSupervision" class="col-md-2" type="radio" data-bind="checked: $root.radResearchSupervision, value: 100003, disable: $root.isDisabled()" />
                            <input name="researchSupervision" class="col-md-2" type="radio" data-bind="checked: $root.radResearchSupervision, value: 100002, disable: $root.isDisabled()" />
                            <input name="researchSupervision" class="col-md-2" type="radio" data-bind="checked: $root.radResearchSupervision, value: 100001, disable: $root.isDisabled()" />
                            <input name="researchSupervision" class="col-md-2" type="radio" data-bind="checked: $root.radResearchSupervision, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">ICT support</p>
                            <input name="ICTSupport" class="col-md-2" type="radio" data-bind="checked: $root.radICTSupport, value: 100004, disable: $root.isDisabled()" />
                            <input name="ICTSupport" class="col-md-2" type="radio" data-bind="checked: $root.radICTSupport, value: 100003, disable: $root.isDisabled()" />
                            <input name="ICTSupport" class="col-md-2" type="radio" data-bind="checked: $root.radICTSupport, value: 100002, disable: $root.isDisabled()" />
                            <input name="ICTSupport" class="col-md-2" type="radio" data-bind="checked: $root.radICTSupport, value: 100001, disable: $root.isDisabled()" />
                            <input name="ICTSupport" class="col-md-2" type="radio" data-bind="checked: $root.radICTSupport, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Availability of career services</p>
                            <input name="availabilityCareerServices" class="col-md-2" type="radio" data-bind="checked: $root.radCareerService, value: 100004, disable: $root.isDisabled()" />
                            <input name="availabilityCareerServices" class="col-md-2" type="radio" data-bind="checked: $root.radCareerService, value: 100003, disable: $root.isDisabled()" />
                            <input name="availabilityCareerServices" class="col-md-2" type="radio" data-bind="checked: $root.radCareerService, value: 100002, disable: $root.isDisabled()" />
                            <input name="availabilityCareerServices" class="col-md-2" type="radio" data-bind="checked: $root.radCareerService, value: 100001, disable: $root.isDisabled()" />
                            <input name="availabilityCareerServices" class="col-md-2" type="radio" data-bind="checked: $root.radCareerService, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Library services</p>
                            <input name="libraryServices" class="col-md-2" type="radio" data-bind="checked: $root.radLibraryService, value: 100004, disable: $root.isDisabled()" />
                            <input name="libraryServices" class="col-md-2" type="radio" data-bind="checked: $root.radLibraryService, value: 100003, disable: $root.isDisabled()" />
                            <input name="libraryServices" class="col-md-2" type="radio" data-bind="checked: $root.radLibraryService, value: 100002, disable: $root.isDisabled()" />
                            <input name="libraryServices" class="col-md-2" type="radio" data-bind="checked: $root.radLibraryService, value: 100001, disable: $root.isDisabled()" />
                            <input name="libraryServices" class="col-md-2" type="radio" data-bind="checked: $root.radLibraryService, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Academic support</p>
                            <input name="academicSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAcademicSupport, value: 100004, disable: $root.isDisabled()" />
                            <input name="academicSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAcademicSupport, value: 100003, disable: $root.isDisabled()" />
                            <input name="academicSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAcademicSupport, value: 100002, disable: $root.isDisabled()" />
                            <input name="academicSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAcademicSupport, value: 100001, disable: $root.isDisabled()" />
                            <input name="academicSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAcademicSupport, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Availability of mentors (alumni)</p>
                            <input name="availabilityOfMentors" class="col-md-2" type="radio" data-bind="checked: $root.radAvailabilityMentors, value: 100004, disable: $root.isDisabled()" />
                            <input name="availabilityOfMentors" class="col-md-2" type="radio" data-bind="checked: $root.radAvailabilityMentors, value: 100003, disable: $root.isDisabled()" />
                            <input name="availabilityOfMentors" class="col-md-2" type="radio" data-bind="checked: $root.radAvailabilityMentors, value: 100002, disable: $root.isDisabled()" />
                            <input name="availabilityOfMentors" class="col-md-2" type="radio" data-bind="checked: $root.radAvailabilityMentors, value: 100001, disable: $root.isDisabled()" />
                            <input name="availabilityOfMentors" class="col-md-2" type="radio" data-bind="checked: $root.radAvailabilityMentors, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Campus security</p>
                            <input name="campusSecurity" class="col-md-2" type="radio" data-bind="checked: $root.radCampusSecurity, value: 100004, disable: $root.isDisabled()" />
                            <input name="campusSecurity" class="col-md-2" type="radio" data-bind="checked: $root.radCampusSecurity, value: 100003, disable: $root.isDisabled()" />
                            <input name="campusSecurity" class="col-md-2" type="radio" data-bind="checked: $root.radCampusSecurity, value: 100002, disable: $root.isDisabled()" />
                            <input name="campusSecurity" class="col-md-2" type="radio" data-bind="checked: $root.radCampusSecurity, value: 100001, disable: $root.isDisabled()" />
                            <input name="campusSecurity" class="col-md-2" type="radio" data-bind="checked: $root.radCampusSecurity, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Catering services</p>
                            <input name="cateringService" class="col-md-2" type="radio" data-bind="checked: $root.radCateringServices, value: 100004, disable: $root.isDisabled()" />
                            <input name="cateringService" class="col-md-2" type="radio" data-bind="checked: $root.radCateringServices, value: 100003, disable: $root.isDisabled()" />
                            <input name="cateringService" class="col-md-2" type="radio" data-bind="checked: $root.radCateringServices, value: 100002, disable: $root.isDisabled()" />
                            <input name="cateringService" class="col-md-2" type="radio" data-bind="checked: $root.radCateringServices, value: 100001, disable: $root.isDisabled()" />
                            <input name="cateringService" class="col-md-2" type="radio" data-bind="checked: $root.radCateringServices, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Administrative support</p>
                            <input name="administrativeSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAdministrativeSupport, value: 100004, disable: $root.isDisabled()" />
                            <input name="administrativeSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAdministrativeSupport, value: 100003, disable: $root.isDisabled()" />
                            <input name="administrativeSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAdministrativeSupport, value: 100002, disable: $root.isDisabled()" />
                            <input name="administrativeSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAdministrativeSupport, value: 100001, disable: $root.isDisabled()" />
                            <input name="administrativeSupport" class="col-md-2" type="radio" data-bind="checked: $root.radAdministrativeSupport, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Off-campus support</p>
                            <input name="offcampusSupport" class="col-md-2" type="radio" data-bind="checked: $root.radOffCampusSupport, value: 100004, disable: $root.isDisabled()" />
                            <input name="offcampusSupport" class="col-md-2" type="radio" data-bind="checked: $root.radOffCampusSupport, value: 100003, disable: $root.isDisabled()" />
                            <input name="offcampusSupport" class="col-md-2" type="radio" data-bind="checked: $root.radOffCampusSupport, value: 100002, disable: $root.isDisabled()" />
                            <input name="offcampusSupport" class="col-md-2" type="radio" data-bind="checked: $root.radOffCampusSupport, value: 100001, disable: $root.isDisabled()" />
                            <input name="offcampusSupport" class="col-md-2" type="radio" data-bind="checked: $root.radOffCampusSupport, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Diverse class group</p>
                            <input name="diverseClass" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseClassGroup, value: 100004, disable: $root.isDisabled()" />
                            <input name="diverseClass" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseClassGroup, value: 100003, disable: $root.isDisabled()" />
                            <input name="diverseClass" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseClassGroup, value: 100002, disable: $root.isDisabled()" />
                            <input name="diverseClass" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseClassGroup, value: 100001, disable: $root.isDisabled()" />
                            <input name="diverseClass" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseClassGroup, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Diverse faculty composition</p>
                            <input name="diverseFaculty" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseFacultyComposition, value: 100004, disable: $root.isDisabled()" />
                            <input name="diverseFaculty" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseFacultyComposition, value: 100003, disable: $root.isDisabled()" />
                            <input name="diverseFaculty" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseFacultyComposition, value: 100002, disable: $root.isDisabled()" />
                            <input name="diverseFaculty" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseFacultyComposition, value: 100001, disable: $root.isDisabled()" />
                            <input name="diverseFaculty" class="col-md-2" type="radio" data-bind="checked: $root.radDiverseFacultyComposition, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody">
                            <p class="col-md-2">Blended learning delivery mode</p>
                            <input name="blendedDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radBlendedLearning, value: 100004, disable: $root.isDisabled()" />
                            <input name="blendedDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radBlendedLearning, value: 100003, disable: $root.isDisabled()" />
                            <input name="blendedDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radBlendedLearning, value: 100002, disable: $root.isDisabled()" />
                            <input name="blendedDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radBlendedLearning, value: 100001, disable: $root.isDisabled()" />
                            <input name="blendedDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radBlendedLearning, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 borderbody borderbottom">
                            <p class="col-md-2">Classroom based delivery mode</p>
                            <input name="classroomDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radClassroomDelivery, value: 100004, disable: $root.isDisabled()" />
                            <input name="classroomDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radClassroomDelivery, value: 100003, disable: $root.isDisabled()" />
                            <input name="classroomDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radClassroomDelivery, value: 100002, disable: $root.isDisabled()" />
                            <input name="classroomDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radClassroomDelivery, value: 100001, disable: $root.isDisabled()" />
                            <input name="classroomDelivery" class="col-md-2" type="radio" data-bind="checked: $root.radClassroomDelivery, value: 100000, disable: $root.isDisabled()" />
                        </div>
                    </div>
                </div>

                <div class="form-section">

                    <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px">
                        <label>What made you decide to apply at the USB? (mark as many as you like)</label>
                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Triple international accreditation</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkTripleAccreditation, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Value for money</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkValueForMoney, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Recommended by alumni of USB</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkRecommendedByAlumni, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Geographic location (close to home)</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkGeographicLocation, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Excellent reputation</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkExcellentReputation, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Recommended by employer</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkRecommendedByEmplyer, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">High quality students</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkHighQualityStudents, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Programme format (modular, etc.)</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkProgrammeFormat, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">USB's international networks</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkNetworking, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">USB's focus on Africa</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkAfrica, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">USB's general focus on responsible leadership</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkLeadership, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">USB's collaborative learning approach</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkLearning, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">I am a Matie and want to study at Stellenbosch again</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkMatie, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">International lecturers in class (electives)</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkLecturerElectives, disable: $root.isDisabled()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 borderbody borderbottom">
                                <p class="col-md-9">International students on campus</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkInternationalStudents, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody borderbottom">
                                <p class="col-md-9">Delivery mode (blended learning, face-to-face, etc.)</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.chkDeliveryMode, disable: $root.isDisabled()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btnSaveProceed btn-sm pull-right"
            data-bind="click: $root.StepFourSaveAndProceed, visible: !$root.isDisabled()">
        Save and Proceed
    </button>
</div>
<div class="clearfix">&nbsp;</div>
