﻿body
{
    /*font-size: .85em;*/
    font-family: "Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    color: #696969;
    background-color: #B6B7BC;
    padding: 20px;
}

.tableDefinition {    
    border: 1px solid #C0C0C0;
}


header, footer, nav, section
{
    display: block;
}

/* CUSTOM STYLES */
p
{
    font-size: 12px;
    padding: 0 5px;
}

span
{
    font-size: 10px;
}

h3
{
    color: #A90C37;
    font-weight: bold;
}

a
{
    cursor: pointer;
    font-size:12px;
}

sectionHeader
{
    padding: 5px;
    background-color: #E2E3E7;
}

label
{
    font-size: 12px;
}
th
{
    font-size: 12px !important;

}
.placeHolder {
    margin-right:12px;
}

.infoNote
{
    display: inline-block !important;
    padding-top:5px !important;
}

.tabControl
{
    font-size: 12px;
}

.pageCounter
{
    font-size: 12px;
}

.fieldSection
{
    border: 1px solid #E2E3E7;
    margin-top: 15px;
}

.sectionHeader
{
    background-color: #E2E3E7;
    padding: 5px;
    font-weight: bold;
}

.navbar-link
{
    color: #696969;
    font-size: 12px;
}

.instructions > p
{
    font-size:14px !important;
}


.modal-header{
    color: #992f40;
}

/* Bootstrap CUSTOM STYLES */

.container
{
    background-color: white;
}

.badge
{
    background-color: #A90C37;
}

.well
{
    padding: 10px;
    background-color: transparent;
}
.form-control
{
    height: 30px;
    display: inline-block !important;
    width: 93%;
    padding: 6px 12px;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.form-horizontal .control-label
{
    text-align: left;
}

.icon-bar
{
   width: 40px !important;
   margin-left: auto;
   margin-right: auto;
}

.navbar
{
    border: none;
}

.navbar-default
{
    background-color: #4d4d4d;
}

.navbar .navbar-toggle
{
    /*background-color: #B6B7BC;
    color: #B6B7BC;*/
}

    .navbar .navbar-toggle:hover
    {
        background-color: #A90C37;
    }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
    border: none;
}

navbar-collapse collapse in
{
    border: none;
}

table
{
    border: 1px solid #E2E3E7;
    padding: 5px;
}



/* Styles for Landing page
-----------------------------------------------------------*/
#welcome-wrap
{
    height: 700px;
    width: 60%;
}
    #welcome-wrap .sectionHeader,  #welcome-wrap ul
    {
        font-size: 12px;
    }
  
    #welcome-wrap ul li
    {
        list-style:disc;

    }

.welcome-message
{
    padding: 20px;
}
    .welcome-message p
    {
        padding: 0 5px;
    }

.col-centered
{
    float: none;
    margin: 0 auto;
}

#emailAddrArea
{
    padding: 20px;
}
    #emailAddrArea .email-label
    {
        margin: 10px 0;
    }
    #emailAddrArea .btn
    {
        background-color: #A90C37;
        color: #fff;
    }

.wrapper .sectionHeader
{
   width: 100%;
   background-size:100% auto;
}
.select-sm {
    width:40%; 
    padding-left:1px;
}
/* Styles for tabs
-----------------------------------------------------------*/
#tabs
{
    background-color: #ddd;
}

    #tabs .nav-tabs
    {
        display: inline-block;
        margin: auto 170px;
        padding: 5px 0;
        border-bottom: none;
    }

        #tabs .nav-tabs li
        {
            background: #a90c37;
            color: #fff;
            margin-bottom: -3px;
        }

            #tabs .nav-tabs li a
            {
                color: #fff;
                border-radius: 0;
            }

        #tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
        {
            background-color: #918B29;
            border-radius: 0;
            cursor: pointer;
        }

    #tabs .nav > li > a:hover,
    .nav > li > a:focus
    {
        text-decoration: none;
        background-color: #918B29;
    }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.required-field
{
    border: 1px solid #f00;
}

.validationMessage{
    font-size:11px;
    /*color:red;*/
    display:inline-block;
    margin-left:2px;
    color: #e42424;
}

.validationElement{
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

input[type=checkbox].input-validation-error {
    outline: 1px solid  #f00 !important;
    background-color: #fee !important;
}

input[type=radio].input-validation-error {
    outline: 1px solid  #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors, .validationMessage
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

sectionHeader
{
    background-color: #E2E3E7;
    padding: 5px;
    font-weight: bold;
}

.centerDivTable
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*Personal Information styles*/

#PersonalDetailsForm, #ContactDetailsForm
{
    border: 1px solid #ddd;
}
    #PersonalDetailsForm  .form-group, #ContactDetailsForm .form-group
    {
       margin-left: 0 !important;
        margin-right: 0 !important;
    }


/* Address Form styles*/
.form-section
{
    margin: 10px auto;
}

.copy-address { }

    .copy-address span
    {
        margin: auto 20px;
        position: relative;
    }

    .copy-address .btn
    {
        padding: 2px 8px;
    }

.search-address
{
    text-align: justify;
    padding-bottom: 5px;
    background-color: #f3f4f8;
}

    .search-address .form-control
    {
        width: auto;
    }

    .search-address .btn-sm
    {
        margin: 5px auto;
        color: #fff;
        background-color: #999;
    }

    .search-address p
    {
        font-size: 12px;
    }

    .search-address .green-text
    {
        color: #006621;
    }

    .search-address p:first-child
    {
        padding: 10px 0;
    }

.save-btn
{
    background-color: #A90C37;
    color: #fff;
    padding: 10px;
    font-weight: 700;
}
.btnSaveProceed
{
    background-color: #A90C37 !important;
    color: #fff !important;
    padding: 10px !important;
    font-weight: 700 !important;
}
.btnSaveProceed:hover
{
    opacity:0.9 !important;
}

/*Work studies */

.work-studies .form-section p
{
    font-size: 12px;
    padding: 0 5px 10px 0;
}

.languages
{
    margin: 0 -13px;
}

.english-col, .afrikaans-col
{
    padding: 0;
}

    .english-col .english, .afrikaans-col .afrikaans
    {
        border-bottom: 1px solid #ddd;
        padding: 5px;
    }

        .english-col .english label
        {
            border-right: 1px solid #ddd;
        }

    .english-col .english-col-label, .afrikaans-col .afrikaans-col-label
    {
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
    }

.english-col-labels
{
    font-size: 13px;
    font-weight: 700;
}

.english label, .afrikaans label
{
    font-weight: normal;
}

.academic-details label
{
    font-weight: normal;
}

.maths-level
{
    padding: 10px 0;
}

    .maths-level label
    {
        font-weight: normal;
    }
.registration .row
{
    margin-left: 0;
    margin-right: 0; 
}

.registration .col-md-2, .col-md-1
{
 
    padding-right:2px !important;
    padding-left:2px !important;
    /*margin: 0px -10px 4px 5px;*/
}

.registration .form-control
{
    margin: 0 0 10px;
}

.registration label
{
    font-size: 10px;
}

.registration .check-boxes input, .registration .radio-btns input
{
    margin: 0 0 10px 20px;
}

.registration .checkbox, .registration .radio
{
    margin: 0 0 17px;
}

/*Employment Information*/

.section-wrap .sectionHeader
{
    margin: 10px auto;
}

.employment-info .col-md-2
{
    width: 13.667%;
}
.employment-info .registration .col-md-2,.employment-info  .col-md-1
{
    margin: 0;
}

/*References*/
.references
{
    margin: 20px auto;
}

.section-wrap .save-btn
{
    margin: 0 0 20px 0;
}

/*documentation styles*/

.documentation-wrap
{
    padding: 10px;

    border-style: solid;
    border-width: 2px;
    margin:10px;
    border-color:#B2BEC3;
}
    .documentation-wrap ul li
    {
        font-size: 12px;
    }
    .documentation-wrap .file-size-text
    {
        color:#800080;
    }

.form-wrap form
{
    border: 1px solid #ddd;
    margin: 5px 0;
}

.file-upload-wrap
{
    border: 1px solid #ddd;
    clear: none;
    display: block;
    float: left;
    width: 100%;
}
    .file-upload-wrap a
    {
       text-decoration: underline;
    }
    .file-upload-wrap .upload-details .btn-sm
    {
        background-color: #ddd;
        color: #333;
        font-weight: 600;
    }

.file-upload-block
{
    background-color: #F3F4F8;
    padding: 30px 48px;
}
    .file-upload-block .upload
    {
       margin-left: -30px;
    }

.files-label
{
    background-color: #A90C37;
    color: #fff;
    border-radius: 0;
}

/*Payment details styles*/

.payment-details
{
    margin: 0 !important;
}
    .payment-details ul
    {
        padding-left: 0;
    }
    .payment-details ul li
    {
        list-style:none;
        padding-bottom: 20px;
        font-size: 12px;
    }

#heading-col
{
    margin-left: -11px;
    padding: 10px 0 0 25px;
}

#details-col
{
    padding: 10px 0 0 25px;
}
    #details-col ul li
    {
        font-weight: bold;
    }

/* Media queries*/

@media only screen and (min-width: 768px) and (max-width: 1200px)
{
      #tabs .nav-tabs
    {
        margin: auto  !important;
    }
    .employment-info .col-md-2
    {
        width: auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px)
{
    .navbar-header
    {
        background: #ddd;
    }

    .navbar .navbar-toggle
    {
         background-color: #A90C37;
    }

    #tabs .nav-tabs
    {
        margin: auto 10px !important;
    }
    .employment-info .col-md-2
    {
        width: auto;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px)
{
      .navbar-header
    {
        background: #ddd;
    }

    .navbar .navbar-toggle
    {
         background-color: #A90C37;
    }
    .employment-info .col-md-2
    {
        width: auto;
    }
}

.paddingClass 
{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
}

.padding15 
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.wordwrapNone > * {
    text-wrap:none;
    text-align:left;
}

.borderbody {    
   border-left: 1px solid #C0C0C0;
   border-right: 1px solid  #C0C0C0;
   border-top: 1px solid #C0C0C0;
   /*width:33%*/
}
.borderbottom {
       border-bottom: 1px solid #C0C0C0;
}



.border {
   border-left: 1px solid #C0C0C0;
   border-right: 1px solid  #C0C0C0;
   border-top: 1px solid #C0C0C0;
}

.centerAlignText {
text-align:center;
}

.required {
    color: #FF0000;
    font-size: 20px;
}

.address-line-resize{
    width:80% !important
}

.container
{
    width:1300px !important;
}

.workStudiesDropDown{
    padding: 0px 0px !important;
}

.workstudiesDropDownWidth{
    width:65px !important;
}

.requiredWorkStudies{
    color: #FF0000;
    font-size: 20px;
    float:left;
}

.form-control-overide{
    width:87% !important;
}

.foreign-passport-expiry{
    float:left !important;
    padding-right: 4px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
