﻿

<div id='LoadingDiv' style='padding: 5px; display:inline;float:left; text-align:center; margin-top:300px;width:100%;height:100%;'><img src="~/Images/ajax-loader-big.gif"></div>
 <iframe id="documentFrameId" style="margin: auto; height: 1500px;width: 1240px!important; border: none" src="/International.Shared/Upload?data=@ViewBag.Context&includeGMAT=false"></iframe>
<script>

    $("#LoadingDiv").show();

    $("#documentFrameId").ready(function () {
        $(".loading").remove();
        $("#LoadingDiv").hide();
    });

</script>