﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Work_Studies";
}

@{
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
}

@section Scripts {
    <script src="~/Scripts/app/ViewModels/WorkStudiesVM.js"></script>

    <script>
        $(function () {
            var model = new WorkAndStudies(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display: none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>

<div id="serverValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#serverValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label data-bind="text: $root.serverErrorMessage"></label>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="sectionHeader">
                <label>Academic Information</label>
            </div>

            <div class="row form-section">
                <div class="col-md-7 academic-details">
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Home Institution:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <input data-bind="value: $root.HomeInstitution, disable: $root.isDisabled()" class="form-control form-control-overide" />
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6">
                            <label>Contact Person name:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <input data-bind="value: $root.ContactPersonName, disable: $root.isDisabled()" class="form-control form-control-overide" />
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6">
                            <label>Contact Person email address:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <input data-bind="value: $root.ContactPersonEmailAddress, disable: $root.isDisabled()" class="form-control form-control-overide" />
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Principle field of study at home university:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <select data-bind="options: $root.principleFieldOfStudyList, optionsText: 'Key', optionsValue: 'Value',
                                               value: $root.PrincipleFieldOfStudy, valueAllowUnset: true, optionsCaption: 'Choose...',
                                               disable: $root.isDisabled()"
                                    class=" form-control form-control-overide"></select>
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6">
                            <label>Number of years completed at home institution:</label>
                        </div>
                        <div class="col-xs-3">
                            <span class="required">*</span>
                            <input type="number" data-bind="value: $root.YearsCompletedAtHomeInstitution, disable: $root.isDisabled()" class="form-control form-control-overide" />
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Duration of Exchange:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <select data-bind="options: $root.durationOfExchangeList, optionsText: 'Key', optionsValue: 'Value',
                                               value: $root.DurationOfExchange, valueAllowUnset: true, optionsCaption: 'Choose...',
                                               disable: $root.isDisabled()"
                                    class=" form-control form-control-overide"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>

            <div class="row form-section">
                <div class="col-md-12 border borderbottom registration">
                    <p><span class="required">*</span>Provide information regarding tertiary registration:</p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="centerAlignText" style="width:200px">Institution</th>
                                <th class="centerAlignText">Degree or other Qualifications</th>
                                <th class="centerAlignText" style="width:200px">Field of Study</th>
                                <th class="centerAlignText" style="width:200px">Student Number</th>
                                <th class="centerAlignText" style="width:200px">Period (Years)</th>
                                <th class="centerAlignText">Completed</th>
                                <th class="centerAlignText">First</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:TertiaryEducationHistory">
                            <tr>
                                <td>
                                    <select class="form-control" id="otherUniversity" data-bind="options: $root.institutionsList, optionsText:'Key' , optionsValue:'Value', value: Institution, valueAllowUnset: true, optionsCaption: 'Choose...', disable: $root.isDisabled(), event: { change: $root.institutionChange } "></select>
                                    <div data-bind="visible: isOtherInstitution">
                                        <input data-bind="value: OtherInstitution, disable: $root.isDisabled()"
                                               class="form-control" />
                                    </div>
                                </td>
                                <td><input class="form-control" data-bind="value: Degree, disable: $root.isDisabled()" /></td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.fieldOfStudyList, optionsText:'Key' , optionsValue:'Value' ,
                                               value: FieldOfStudy, valueAllowUnset: true, optionsCaption: 'Choose...',
                                               disable: $root.isDisabled()"></select>
                                </td>
                                <td><input class="form-control" data-bind="value: StudentNumber, disable: $root.isDisabled()" /></td>
                                <td>
                                    <select class="form-control select-sm" data-bind="options: $root.availableYears, value: StartDate, disable: $root.isDisabled()"></select>
                                    to
                                    <select class="form-control select-sm" data-bind="options: $root.availableYears, value: EndDate, disable: $root.isDisabled()"></select>
                                </td>

                                <td><input type="checkbox" data-bind="checked: Completed, disable: $root.isDisabled()" /></td>
                                <td><input id="first" name="educationFirst" type="radio" data-bind="checked: First, value: true, disable: $root.isDisabled()" /></td>
                                <td><a id="removeTertiaryEducationHistory" style="color:red;" class="removeRow glyphicon glyphicon-remove " href="javascript:void(0)" data-bind="click: $root.removeEducationHistoryItem, visible: !$root.isDisabled()"></a></td>
                            </tr>
                            <tr>
                                @*<td>
                                        <input data-bind="value: $root.OtherInstitution, disable: $root.isDisabled()"
                                               class="form-control" />
                                    </td>*@
                            </tr>
                        </tbody>
                    </table>

                    <div style="padding-left: 10px;" data-bind="visible: $root.TertiaryEducationHistory().length <= 5">
                        <label for="btnAddTertiaryEducation"></label>
                        <a id="btnAddTertiaryEducation"
                           data-bind="click: $root.addTertiaryEducationHistory, visible: !$root.isDisabled()"
                           href="javascript:void(0)">Add Tertiary Education History</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class=" employment-info">
                <div class="sectionHeader">
                    <label>Employment Information</label>
                </div>
                <div class="row form-section">
                    <div id="EmploymentInformation" class="col-md-14 border borderbottom registration">
                        <p>
                            <span class="required">*</span>Employment over past 10 years (Start with current year)
                        </p>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="centerAlignText" style="width: 180px">Employer</th>
                                    <th class="centerAlignText" style="width: 180px">Job Title</th>
                                    <th class="centerAlignText" style="width: 120px">Work Area</th>
                                    <th class="centerAlignText" style="width: 120px">Organization</th>
                                    <th class="centerAlignText" style="width: 180px">Industry</th>
                                    <th class="centerAlignText">Period (Years)</th>
                                    <th class="centerAlignText">Type</th>
                                    <th class="centerAlignText">Latest</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:EmploymentHistory">
                                <tr>
                                    <td><input class="form-control" data-bind="value: Employer, disable: $root.isDisabled()" /></td>
                                    <td><input class="form-control" data-bind="value: JobTitle, disable: $root.isDisabled()" /></td>
                                    <td><select class="form-control" data-bind="options: $root.workAreaList, optionsText:'Key' , optionsValue:'Value', value: WorkArea, valueAllowUnset: true, optionsCaption: 'Choose...', disable: $root.isDisabled() "></select></td>
                                    <td><select class="form-control" data-bind="options: $root.organizationList, optionsText:'Key' , optionsValue:'Value', value: Organization, valueAllowUnset: true, optionsCaption: 'Choose...', disable: $root.isDisabled()"></select></td>
                                    <td><select class="form-control" data-bind="options: $root.industryList, optionsText:'Key' , optionsValue:'Value' , value: Industry, valueAllowUnset: true, optionsCaption: 'Choose...', disable: $root.isDisabled()"></select></td>
                                    <td>
                                        <select class="form-control select-sm" data-bind="options: $root.availableYears, value: StartDate, disable: $root.isDisabled()"></select>
                                        to
                                        <select class="form-control  select-sm" data-bind="options: $root.availableYears, value: EndDate, disable: $root.isDisabled()"></select>
                                    </td>
                                    <td><select class="form-control workStudiesDropDown" data-bind="options: $root.employmentTypeList, optionsText:'Key' , optionsValue:'Value', value: Type, valueAllowUnset: true, optionsCaption: 'Choose...', disable: $root.isDisabled()"></select></td>
                                    <td><input type="radio" name="employmentFirst" data-bind="checked: Latest, value:true, disable: $root.isDisabled()" /></td>
                                    <td><a id="removeEmploymentInformation" class="pull-right glyphicon glyphicon-remove" style="color: red" href="javascript:void(0)" data-bind="click: $root.removeEmploymentHistory, visible: !$root.isDisabled()"></a></td>
                            </tbody>
                        </table>
                        <div style="padding-left: 15px;" data-bind="visible: $root.EmploymentHistory().length <= 5">
                            <label for="btnAddEmploymentHistory"></label>
                            <a id="btnAddEmploymentHistory" data-bind="click: $root.addEmploymentHistory, visible: !$root.isDisabled()"
                               href="javascript:void(0)">Add Employment History</a>
                        </div>


                    </div>
                    <div class="row form-section">
                        <div class="col-md-10">
                            <div class="row maths-level">
                                <div class="col-xs-3">
                                    <label>Total years of full-time work experience:</label>
                                </div>
                                <div class="col-xs-2">
                                    <span class="required">*</span>
                                    <select class=" form-control form-control-overide" data-bind="options: $root.yearsOfWorkingExperienceList,
                                               value: $root.YearsOfWorkingExperience, optionsCaption: 'Years...', disable: $root.isDisabled()"></select>
                                </div>
                                <div class="col-xs-2">
                                    <span class="required">*</span>
                                    <select class=" form-control form-control-overide" data-bind="options: $root.monthsOfWorkingExperienceList,
                                               value: $root.MonthsOfWorkingExperience, optionsCaption: 'Months...', disable: $root.isDisabled()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="section-wrap" data-bind="visible: !$root.isDisabled()">
            <button class="btn btnSaveProceed btn-sm pull-right"
                    data-bind="click: $root.StepThreeSaveAndProceed, visible: !$root.isDisabled()">
                Save and Proceed
            </button>
        </div>
    </div>
</div>
<div class="clearfix">&nbsp;</div>