﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Submit";
}

@{
    string data = new JavaScriptSerializer().Serialize(Model);
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
}

@section Scripts{
    <script src="~/Scripts/app/ViewModels/StatusVM.js"></script>

    <script>
        $(function () {
            var model = new Status(@Html.Raw(data), @Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Final Instructions</label>
            </div>

            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p>
                            Your application must be fully completed before you will be considered for this course.
                            A completed application implies that all the fields on every page are filled in and that all required documentation is submitted.
                            This page shows you what is still outstanding on your application.
                        </p>
                        <p>
                            By this time in your application process you will have received communications from our Admissions Office – with further requirements, if any.
                            These may include additional documentation, which you must submit on the 'Documentation' page.
                        </p>
                        @*<p>
                            The section below shows your progress in each part in your application.
                            The green tick indicates that all the required fields for that section are filled in.
                            The warning sign indicates that further input is required from you in that section.
                        </p>*@
                        <p>
                            You may make subsequent returns to this application form.
                            Your information is saved every time you move from one page to another.
                            This allows you to gather required information and documentation, and to upload it at your leisure.
                            Do, however, keep a sharp eye on the closing date for applications.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @*<div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Application Status</label>
            </div>

            <div class="row form-section">
                <div class="col-md-6">
                    <div class="form-group marginLeft10">


                        <div class="row">
                            <div class="col-sm-4">
                                <a data-bind="attr: { href: 'PersonalDetails' }">Personal Information</a>&nbsp;
                            </div>

                            <div class="col-sm-2 col-sm-offset-2">
                                <img data-bind="attr: {src: '../Images/valid.png'}, visible: $root.personalDetailsComplete()" />
                                <img data-bind="attr: {src: '../Images/invalid.png'}, visible: !$root.personalDetailsComplete()" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <a data-bind="attr: { href: 'AddressDetails' }">
                                    Address Details
                                </a>
                            </div>
                            <div class="col-sm-2 col-sm-offset-2">
                                <img data-bind="attr: {src: '../Images/valid.png'}, visible: $root.addressDetailsComplete()" />
                                <img data-bind="attr: {src: '../Images/invalid.png'}, visible: !$root.addressDetailsComplete()" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <a data-bind="attr: { href: 'WorkStudies' }">Work and studies</a>&nbsp;
                            </div>
                            <div class="col-sm-2 col-sm-offset-2">
                                <img data-bind="attr: {src: '../Images/valid.png'}, visible: $root.workStudiesComplete()" />
                                <img data-bind="attr: {src: '../Images/invalid.png'}, visible: !$root.workStudiesComplete()" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <a data-bind="attr: { href: 'Marketing' }">Marketing</a>&nbsp;
                            </div>
                            <div class="col-sm-2 col-sm-offset-2">
                                <img data-bind="attr: {src: '../Images/valid.png'}, visible: $root.marketingComplete()" />
                                <img data-bind="attr: {src: '../Images/invalid.png'}, visible: !$root.marketingComplete()" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <a data-bind="attr: { href: 'Documentation' }">Documentation</a>&nbsp;
                            </div>
                            <div class="col-sm-2 col-sm-offset-2">
                                <img data-bind="attr: {src: '../Images/valid.png'}, visible: $root.documentationComplete()" />
                                <img data-bind="attr: {src: '../Images/invalid.png'}, visible: !$root.documentationComplete()" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <a data-bind="attr: { href: 'Payment' }">Payment</a>&nbsp;
                            </div>
                            <div class="col-sm-2 col-sm-offset-2">
                                <img data-bind="attr: {src: '../Images/valid.png'}, visible: $root.paymentComplete()" />
                                <img data-bind="attr: {src: '../Images/invalid.png'}, visible: !$root.paymentComplete()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>*@

    <div class="row container">
        <div class="col-md-12 form-wrap">
            <form class="form-horizontal">
                <div class="sectionHeader">
                    <label>Submit</label>
                </div>
                <div class="row form-section">
                    <div class="col-md-12">
                        <div class="form-group marginLeft10 instructions">
                            <p>
                                Please note that you cannot edit or add information after you have submitted your application.
                                You will, however, be allowed to upload outstanding documents for two weeks after submitting your application.
                            </p>
                            <p>
                                <b data-bind="visible: !AllSectionsCompleted()">
                                    Your application cannot be submitted yet because some information is still outstanding. Please refer to the Application From tabs on the top menu.
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="section-wrap">
                <button id="submitOnlineApplicationForm" data-bind="click: $root.Submit,
                        visible: AllSectionsCompleted() && !isDisabled()"
                        class="btn btnSaveProceed pull-right save-btn">
                    Submit
                </button>
            </div>
        </div>

    </div>
</div>

