﻿

<div id='LoadingDiv' style='padding: 5px; display:inline;float:left; text-align:center; margin-top:300px;width:100%;height:100%;'><img src="~/Images/ajax-loader-big.gif"></div>
 <iframe style="margin: auto; height: 1500px;width: 1240px!important; border: none" src="/Shared/Upload?data=@ViewBag.Context&includeGMAT=false"></iframe>
<script>
//$(loadingDiv).appendTo($("#Main"));
    $("#LoadingDiv").show();
    $('iframe').load(function () {
        $(".loading").remove();
        $("#LoadingDiv").hide();
    }).show();
</script>